<div id="facetedSearch" class="facetedSearch sidebarBlock">
    {{!-- Moved to template > goose/faceted-search/selected-facets selected --}}

    {{#any facets visible=true}}
        <div id="facetedSearch-navList"
            class="facetedSearch-navList"
        >
            <div class="accordion accordion--navList">
                {{#each facets}}
                    {{#if visible}}
                        {{{dynamicComponent 'goose/faceted-search/facets'}}}
                    {{/if}}
                {{/each}}
            </div>

            <div class="blocker" style="display: none;"></div>
        </div>
    {{/any}}
</div>
