{{#each facets}}
        {{#if facet '===' ../all_facets}}
            <ul id="facetedSearch-navList--{{facet}}" data-facet="{{facet}}" class="navList" data-has-more-results="true">
                {{#each items}}
                    <li class="navList-item">
                        <a href="{{url}}"
                        class="navList-action navList-action--checkbox" 
                        rel="nofollow"
                        data-faceted-search-facet="">
                        {{{title}}}
                            {{#if count}}
                                <span>({{count}})</span>
                            {{/if}}    
                            <span class="navList-action-close" aria-hidden="true">
                                <svg class="icon">
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
{{/each}}
