.collection-carousel {
    &__title {
        margin-right: spacing-scale("10");
    }

    &__navigation {
        position: relative;
        display: flex;
        margin-bottom: spacing-scale("7");
    }

    &__container {
        display: flex;
        margin-bottom: spacing-scale("6");
    }

    &__item {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        text-decoration: none;
        color: g-colour("gray", "80");
    }

    &__item__title {
        color: g-colour("gray", "80");
        font-size: var(--text-preset-4);
        font-weight: g-font-weight("bold");
    }

    &__item__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 0;
        padding-top: 120%;
        margin-bottom: spacing-scale("6");
        overflow: hidden;

        .collection-carousel__item__image {
            position: absolute;
            top: 0;
            min-width: 100%;
            min-height: 100%;
            height: 100%;
            max-width: none;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            transition-property: all;
        }
    }

    &__item:hover .colelction-carousel__item__image {
        scale: 1.1;
    }
}
