.g-is-loading {
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        top: 0;
        position: absolute;
        display: block;
        z-index: 1;
    }

    &::after {
        content: "";
        z-index: 2;
        @include loadingOverlay-spinner();
        animation: spin $loadingOverlay-spinner-duration infinite $loadingOverlay-spinner-easing;
        transform: none;
    }
}

// Default Overlay Fix
.loadingOverlay::before {
    transform: none;
}
