.product-label {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &--vTop {
        top: spacing-scale("2");
    }

    &--vCenter {
        top: 50%;
        transform: translateY(-50%);
    }

    &--vBottom {
        bottom: spacing-scale("2");
    }

    &--hLeft {
        left: 0;
    }

    &--hCenter {
        left: 50%;
        transform: translateX(-50%);
    }

    &--hRight {
        right: 0;
    }

    svg {
        width: remCalc(68px);
        height: remCalc(24px);
        margin-bottom: spacing-scale("2");
    }
}
