// This is a pagebuilder widget
.promo-bar {
    padding: spacing-scale("2") spacing-scale("10");
    display: flex;
    justify-content: center;
    position: relative;
    font-size: var(--text-preset-3);
    display: none;

    &__text {
        text-align: center;
        font-weight: g-font-weight("bold");
    }

    &__link {
        text-decoration: none;
        font-weight: g-font-weight("bold");
        margin-left: spacing-scale("2");
    }

    &__closeBtn {
        position: absolute;
        right: spacing-scale("1");
        font-size: 0;
        width: remCalc(32px);
        height: remCalc(32px);
        top: 50%;
        transform: translateY(-50%);

        &::before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: block;
            width: remCalc(14px);
            height: remCalc(14px);
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8715 1.16511L1.16604 13.8485L0.0336914 12.7181L12.7391 0.0347183L13.8715 1.16511Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7391 13.9651L0.0336648 1.2817L1.16602 0.151306L13.8714 12.8347L12.7391 13.9651Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }
}
