.home-section--trustpilot {
    background: g-colour("gray", "10");

    .trustpilot-widget {
        background: g-colour("gray", "10");
        padding-top: spacing-scale("12");
        padding-bottom: spacing-scale("12");

        iframe {
            padding: 0 spacing-scale("4") !important;
            margin: auto !important;
        }
    }
}
