// =============================================================================
// GOOSE SCREEN SIZES
// =============================================================================
//
// 1. Remember to update /assets/js/theme/common/media-query-list.js
//    if you decide to change breakpoint values
//
//  $screen-xxxlarge:               1920px !default;
//  $screen-xxlarge:                1681px !default;
//  $screen-xlarge:                 1441px !default;
//  $screen-large:                  1281px !default;
//  $screen-medium:                 1025px !default;
//  $screen-small:                  769px !default;
//  $screen-xsmall:                 481px !default;
//  $screen-xxsmall:                320px !default;
//
// -----------------------------------------------------------------------------

// Screen sizes
// -----------------------------------------------------------------------------

$screen-large: 1200px;
$screen-medium: 1025px;
$screen-small: 769px;
$screen-xsmall: 481px;
