.g-button {
    // basic button style
    position: relative;
    display: block;
    vertical-align: top;
    position: relative;
    text-align: center;
    align-items: center;
    // white-space: nowrap;
    text-decoration: none;
    font-size: var(--btn-font-size, 1em);
    padding-top: var(--btn-padding-y, 0.5em);
    padding-bottom: var(--btn-padding-y, 0.5em);
    padding-left: var(--btn-padding-x, 0.75em);
    padding-right: var(--btn-padding-x, 0.75em);
    border-radius: var(--btn-radius, 0.25em);
    text-transform: var(--btn-case, none);
    font-weight: var(--btn-weight, 400);
    letter-spacing: var(--btn-letter-spacing, 0);
    margin: 0;
    outline-color: transparent;
    cursor: pointer;

    + .button.button--noMargin {
        margin-left: 0;
    }
}

// default size variations
.button--sm {
    font-size: var(--btn-font-size-sm, 0.8em);
}

.button--md {
    font-size: var(--btn-font-size-md, 1.2em);
}

.button--lg {
    font-size: var(--btn-font-size-lg, 1.4em);
}

// button with (only) icon
.button--icon {
    padding: var(--btn-padding-y, 0.5em);
}

.button--full-width {
    width: 100%;
}
