<div class="contact-bar">
    <ul class="list">
        <li class="list__item">
            <a class="js-chat-toggle list__item__link">
                <div class="contact-bar__icon">
                    <span class="icon-stack">
                        <i class="icon-stack__bg">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon-bg"></use>
                            </svg>
                        </i>
                        <i class="icon-stack__icon">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chat"></use>
                            </svg>
                        </i>
                    </span>
                </div>
                <div class="contact-bar__text">
                    <h6 class="heading">Chat to us</h6>
                    <small class="chat-status chat-status--offline">We are currently offline</small>
                    <small class="chat-status chat-status--online">We are currently online</small>
                </div>
            </a>
        </li>
        
        <li class="list__item">
            <a class="list__item__link" href="mailto:support@marketsports.com.au">
                <div class="contact-bar__icon">
                    <span class="icon-stack">
                        <i class="icon-stack__bg">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon-bg"></use>
                            </svg>
                        </i>
                        <i class="icon-stack__icon ">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                            </svg>
                        </i>
                    </span>
                </div>
                <div class="contact-bar__text">
                    <h6 class="heading">Email us</h6>
                    <small>We usually reply within 24 hours</small>
                </div>
            </a>
        </li>
        <li class="list__item">
            <a class="list__item__link" href="tel:1300 401 520">
                <div class="contact-bar__icon">
                    <span class="icon-stack">
                        <i class="icon-stack__bg">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon-bg"></use>
                            </svg>
                        </i>
                        <i class="icon-stack__icon ">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
                            </svg>
                        </i>
                    </span>
                </div>
                <div class="contact-bar__text">
                    <h6 class="heading">Call us</h6>
                    <small>1300 401 520</small>
                </div>
            </a>
        </li>
        <li class="list__item">
            <a href="/market-sports-club-rewards/" class="list__item__link">
                <div class="contact-bar__icon">
                    <span class="icon-stack">
                        <i class="icon-stack__bg">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon-bg"></use>
                            </svg>
                        </i>
                        <i class="icon-stack__icon ">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ms-club"></use>
                            </svg>
                        </i>
                    </span>
                </div>
                <div class="contact-bar__text">
                    <h6 class="heading">Club Rewards</h6>
                    <small>Join the club & save!</small>
                </div>
            </a>
        </li>
    </ul>
</div>
