<div class="fb-drawer-wrap">
    <div class="fb-drawer fb" id="fb-drawer"> 
        <div class="fb__header-wrap">
            <div class="fb__header">
                <h5 class="heading">Filter (<span class="fb-items-count">0</span>)</h5>
                <a class="close">
                    <i class="icon">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                        </svg>
                    </i>
                </a>
            </div>
        </div>
        <div class="fb__body">
            {{#block "fb-content"}}{{/block}}
        </div>
        <div class="fb__footer">
            <div class="fb__actions">
                <a href="#" class="g-button g-button--primary close">View&nbsp;<span class="fb-items-count">0</span></a>
                <a href="#" class="g-button g-button--secondary js-clear-url">Reset</a>
            </div>
        </div>
        </div>
    </div>
</div>
