<div class="mc-drawer-wrap" data-mc-open="false" data-mc-cross-sell-open="false">
    <div class="mc-drawer mc">
        <div class="mc__header">
            <div class="cart-summary">
                <div class="cart-summary__header">
                    <span class="cart-summary__title">
                        Cart
                    </span>
                    <div class="cart-summary__qty">
                        <!-- To be populated -->
                    </div>
                </div>
                <div class="cart-summary__close js-mc-drawer-close">
                    <i class="icon">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                        </svg>
                    </i>
                </div>
            </div>
        </div>
        <div class="mc__body test">
            <div class="mc__items">
                <!-- Items -->
            </div>
        </div>
        <div class="mc__related-products">

        </div>
        <div class="mc__footer">
            <div class="mc__actions">
                <!-- totals -->
            </div>
        </div>
    </div>

    <!-- Related Products -->
    <div class="mc-drawer mc-cross-sell desktop">
        <div class="mc-cross-sell__header">
            <div class="text">
                <!-- You added 2x Brisbane Lions AFL Mens 1/4 Zip Pullover to your cart -->
            </div>
            <a href="{{urls.checkout.single_address}}">Continue to checkout</a>

            {{!-- <div class="mc-cross-sell__close js-mc-drawer-close">
                <i class="icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                    </svg>
                </i>
            </div> --}}
        </div>
        <div class="mc-cross-sell__body">
            <!-- items -->
        </div>
        <div class="mc-cross-sell__footer">
            <a href="/market-sports-club-rewards/" class="mc-cross-sell__club">
                <i class="club-icon">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-club"></use>
                    </svg>
                </i>
                <div class="text">
                    Join &amp; Earn Rewards!
                </div>
            </a>
            <div class="mc-cross-sell__usp">
                <ul class="usp-list">
                    <li class="usp-list__item">
                        <i class="usp-icon">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-returns"></use>
                            </svg>
                        </i>
                        <div class="usp-text">
                            Easy returns
                        </div>
                    </li>
                    <li class="usp-list__item">
                        <i class="usp-icon">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-gift"></use>
                            </svg>
                        </i>
                        <div class="usp-text">
                            Free gift wrapping
                        </div>
                    </li>
                    <li class="usp-list__item">
                        <i class="usp-icon">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-money-back"></use>
                            </svg>
                        </i>
                        <div class="usp-text">
                            Money back guarantee
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

   {{!-- <div class="mc-cross-sell-toggle">
        <div class="cross-sell-toggle js-cross-sell-toggle">
            <div class="text">
                Recommended
            </div>
        </div>
    </div> --}}
</div>
