<section class="newsletter-block">
    <div class="newsletter-block__container container">
        <div class="newsletter-block__col newsletter-block__header">
            <h3 class="newsletter-block__heading">Register For Our Newsletter</h3>
            <p class="newsletter-block__description">Subscribe to our Newsletter & Join The Club</p>
        </div>
        <div class="newsletter-block__col">
            {{> goose/common/g-newsletter placeholder="Your email"}}
        </div>
    </div>
</section>
