<div class="secure-payments u-spacing-margin-bottom-1">
    <div class="secure-payments__info">Secure and trusted checkout with</div>
    <ul class="secure-payments__methods">
        <li class="secure-payments__method"><svg><use xlink:href="#icon-payment-visa" /></svg></li>
        <li class="secure-payments__method"><svg><use xlink:href="#icon-payment-mastercard" /></svg></li>
        <li class="secure-payments__method"><svg><use xlink:href="#icon-payment-apple-pay" /></svg></li>
        <li class="secure-payments__method"><svg><use xlink:href="#icon-payment-gpay" /></svg></li>
        <li class="secure-payments__method"><svg><use xlink:href="#icon-payment-amex" /></svg></li>
        <li class="secure-payments__method"><svg><use xlink:href="#icon-payment-paypal" /></svg></li>
        <li class="secure-payments__method"><svg><use xlink:href="#icon-payment-afterpay" /></svg></li>
    </ul>
</div>
