<section class="trust-block">
    <div class="u-container trust-block-inner">
        <ul class="trust-block-list">
            <li class="trust-block-list__item trust-block-item trust-block-item--shipping">
                <i class="icon trust-block-list__icon">
                    <svg><use xlink:href="#icon-stock-available"></use></svg>
                </i>
                <p class="trust-block-list__text">Stock in Australia ready to&nbsp;dispatch</p>
            </li>
            <li class="trust-block-list__item trust-block-item trust-block-item--price">
                <i class="icon trust-block-list__icon">
                    <svg><use xlink:href="#icon-gift-sorted"></use></svg>
                </i>
                <p class="trust-block-list__text">Last minute gift&nbsp;sorted</p>
            </li>
            <li class="trust-block-list__item trust-block-item trust-block-item--payment">
                <i class="icon trust-block-list__icon">
                    <svg><use xlink:href="#icon-customer-service"></use></svg>
                </i>
                <p class="trust-block-list__text">Unmatched Customer&nbsp;Service</p>
            </li>
            <li class="trust-block-list__item trust-block-item trust-block-item--collect">
                <i class="icon trust-block-list__icon">
                    <svg><use xlink:href="#icon-in-australia"></use></svg>
                </i>
                <p class="trust-block-list__text">Fastest dispatch times in&nbsp;Australia</p>
            </li>                                    
        </ul>
    </div>
</section>
