<div class="usp-list-block">
    <ul class="usp-list">
        <li class="usp-list__item">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-free-returns"></use>
            </svg>
            <p>Hassle free returns &amp; money-back guarantee</p>
        </li>
        <li class="usp-list__item">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-australia"></use>
            </svg>
            <p>Stock available in Australia ready to dispatch</p>
        </li>
        <li class="usp-list__item">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fast-shipping"></use>
            </svg>
            <p>Super fast dispatch &amp; shipping</p>
        </li>
    </ul>
</div>
