<div class="wl-drawer-wrap">
    <div class="wl-drawer wl" id="wl-drawer"> 
        <div class="wl__header-wrap">
            <div class="wl__header">
                <h5 class="heading">Wishlist</h5>
                <a class="close">
                    <i class="icon">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                        </svg>
                    </i>
                </a>
            </div>
            <div class="wl__sub-header">
                My Favourites (<span class="wl__sub-header__count">0 items</span>)
            </div>
        </div>
        <div class="wl__body">
            <ul class="wl__items side-drawer__items">
                {{!-- old by Craig <li class="side-drawer__item">
                    <div class="side-drawer__item__wrap">
                        <div class="side-drawer__item__img">
                            <img class="wishlist_img" src="https://www.torpedo7.co.nz/images/products/T7TEO23YZJZ_small.jpg?v=59287146b09b451fa2e0">
                        </div>
                        <div class="side-drawer__item__container">
                            <div class="side-drawer__item__content">
                                <h3 class="heading">Product name</h3>
                                <span class="price">$50.00</span>
                            </div>
                            <div class="side-drawer__item__action">
                                <div class="side-drawer__item__qty">
                                    + -
                                </div>
                                <div class="side-drawer__item__remove">
                                    Remove
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-drawer__item__action">
                        <button class="g-button g-button--secondary g-button--fullbleed">
                            Move to Cart
                        </button>
                    </div>
                </li> --}}
            </ul>
        </div>
        </div>
    </div>
</div>
